
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


/*
 *
 * Common
 *
 */

.news__more {
  float: right;
  color: #333;
  text-decoration: none;
  font-size: 16px;
}


/*
 *
 * Header
 *
 */

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  min-height: 56px;
  transition: min-height 0.3s;
  background: #A9907E;
}

.header__inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  height: 72px;
  margin-right: 1em;
  vertical-align: top;
  margin-top: 12px;
}

.header__title {
  font-weight: 300;
  font-size: 3.5em;
  margin: 0.5em 0.25em;
  display: inline-block;
  color: #212121;
}

/*
 *
 * Top Level Navigation
 *
 */

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  text-align: center;
  line-height: 24px;
  padding: 24px;
  text-transform: uppercase;
}

.nav a {
  text-decoration: none;
  color: #616161;
  padding: 1.5em;
}

.nav a:hover {
  text-decoration: underline;
  color: #212121;
}


/*
 *
 * Main
 *
 */

main {
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* background: #F3DEBA; */
}

/*
 *
 * Content
 *
 */


/*
 *
 * Hero
 *
 */

.hero {
  float: left;
  width:100%;
  position: relative;
  background-image: url("/images/top.jpg");
  background-size: cover;
  height: 300px;
}

.hero article {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 1em;
}


/*
 *
 * Top News
 *
 */

.top-news {
  width: 100%;
  border-bottom: 1px solid #E0E0E0;
  padding: 1em;
}

.news__title {
  font-weight: 300;
  border-bottom: 1px solid #E0E0E0;
  line-height: 1.5em;
}

.top-news__item {
  border-bottom: 1px solid #E0E0E0;
  padding: 1em 0;
  line-height: 19.2px;
}

.top-news__item:before {
  content: "» ";
}

.top-news__item:last-child {
  border-bottom: none;
}

.top-news__item a {
  text-decoration: none;
  font-size: 13px;
  color: #666;
  padding: 1.5em 0;
}

.top-news__item a:hover,
.top-news__item a:active {
  text-decoration: underline;
}


/*
 *
 * Sport Scores
 *
 */

.scores {
  padding-top: 1em;
  flex-grow: 1;
}

.scores__table {
  width: 100%;
  border-collapse: collapse;
}

.scores__table th,
.scores__table td {
  padding: 1em;
}

.scores__table th {
  color: #fff;
  font-weight: 300;
  background-color: #78909C;
}
.scores__table tr:nth-child(1) th:nth-child(3) {
  text-align: right;
}
.scores__table tr:nth-child(1) th:nth-child(5) {
  text-align: left;
}

.scores__table tr:nth-child(odd) td {
  background-color: #fff;
}

.scores__table tr:nth-child(even) td {
  background-color: #eceff1;
}

.scores__table td.winner {
  font-weight: bold;
}

.scores__table td:nth-child(3) {
  text-align: right;
}

.scores__table td:nth-child(2),
 .scores__table td:nth-child(1) {
  text-align: center;
}


/*
 *
 * Weather
 *
 */

.weather {
  float: right;
  padding: 1em;
  width:100%
}

.weather__location {
  display: block;
  font-weight: 300;
  font-size: 1.5em;
}

.weather__desc {
  display: block;
  font-size: 1.2em;
}

.weather__today {
  width: 60%;
  vertical-align: middle;
}

.weather__today__image {
  vertical-align: middle
}

.weather__today__temp {
  font-size: 3em;
}

.weather__today__deg {
  font-size: 2em;
  display: inline;
}

.weather__next__item {
  display: inline-block;
  width: 20%;
  text-align: center;
}

.weather__next__item span {
  display: block;
}

.weather__next__image {
  width: 100%;
}


/*
 *
 * Weather
 *
 */

.recent-news {
  flex-grow: 1;
  clear: both;
  padding: 1em;
}

.snippet {
  clear: both;
  margin: 24px 0;
}

.snippet__thumbnail {
  width: 140px;
  float: left;
  margin-right: 1em;
}

.snippet__title {
  font-weight: 500;
}

.snippet__title a {
  text-decoration: none;
  color: #666;
  padding: 1.5em 0;
  font-size: 18px;
}

.snippet__title a:hover,
.snippet__title a:active {
  text-decoration: underline;
}


/*
 *
 * Footer
 *
 */

footer {
  border-top: 1px solid #E0E0E0;
  padding: 1em;
  width: 100%;
  text-align:center;
  font-size:15px;
}

footer li {
  display: inline-block;
  margin: auto;
}

footer a {
  text-decoration: none;
  color: #333;
  padding: 1.5em;
}

img, embed, object, video {
  max-width: 100%;
}

.description {
  font-size: 14.5px;
  line-height:1.2em;
}
.description h2 {
  font-size: 17px;
}
.news a, .news {
  font-size: 14.5px;
}


/*
 * Responsive for when viewport size is less than 600px
 *
 */
@media screen and (max-width: 600px) {
  .header__title {
    font-size: 2em;
    margin: 1em auto;
  }
  .header__logo {
    margin-right: 0;
  }
   .nav ul {
    display: none;
  }

 .fa-bars {
    float: right;
    color: gray;
    padding: 1em .5em;
    font-size: 2em;
    line-height: 1.2em;
    display: flex;
    cursor: pointer;
  }

  /*
   *
   * making list of nav links appear when clicking on the burger icon
   *
   */
   .nav.responsive {
     width: 100%;
     display: block;
   }
   .nav__item {
     width: 100%;
   }
   .nav.responsive ul {
     display: block;
   }
   .scores__table {
   font-size: 15px;
   }
   .hide {
     display: none;
   }
   .scores__location {
     display: none;
   }
   .snippet__thumbnail {
     display: none;
   }
   .snippet {
     font-size: 15.5px;
     display: flex;
     flex-wrap: wrap;
   }
 }
 /*
  * Minor breakpoint: Responsive for when viewport size is more then 427 and less than 600px
  *
  */
@media screen and (min-width:427px) and (max-width:600px) {
  .header__title {
    font-size: 2.6em;
  }
  .fa-bars {
    font-size: 2.6em;
  }
  .weather {
    font-size: 15px;
  }
}
/* normal- ipad?  */
@media screen and (min-width:601px) and (max-width:929px){

  .content {
    display: flex;
    flex-wrap: wrap;
   }
  .hero {
    width: 55%;

}
  .news {
    width: 45%;

  }
  .weather {
    width: 45%;
    order:2;
    font-size: 14.5px;
  }
  .scores {
    order: 1;
    width: 55%;
  }
  .recent-news {
    order: 3;
    width: 100%;
  }
  .scores__table {
  font-size: 13.5px;
  }
  .scores__location {
    display: none;
  }
  .news a {
    font-size: 15px;
  }
  .top-news__item {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  }
  .weather__today__temp {
  font-size: 2.6em;
  }
  .weather__today__deg {
  font-size: 1.9em;
  }
  .snippet__title a {
    font-size: 18px;
  }
  .snippet__thumbnail {
  width: 150px;
  padding-bottom: 1.5em;
  }

  /* .weather {
    width: 50%;
    order: 2;
  }
  .scores {
    width: 50%;
    order: 3;
  } */
}

/*
 * Mini breakpoints - Responsive for when viewport size is between 720px & 929px and 845px to 929px
 *
 */
@media screen and (min-width: 720px) and (max-width: 929px) {
  .snippet {
    font-size: 15.7px;
  }
}

@media screen and (min-width: 845px) and (max-width: 929px) {
  .snippet {
    font-size: 15.7px;
  }
  .scores__table {
    font-size: 13px;
  }
  .scores__location {
    display: block;
  }
}
/*
 * Responsive for when viewport size is at least 930px
 *
 */
@media screen and (min-width: 930px){
  .content {
    display: flex;
    flex-wrap: wrap;
   }
   .hero {
     width: 55%;
     order: -1;
 }
   .weather {
     width: 45%;
     order: 0;
     font-size: 16px;
 }
   .news {
     width: 45%;
     order: 1;

   }
   .scores {
     order: 2;
     width: 55%;
   }
   .recent-news {
     order: 3;
     width: 100%;
   }
   .description {
     font-size: 16px;
     line-height:1.2em;
   }
   .description h2 {
     font-size: 18px;
   }
   .news a, .news {
     font-size: 16px;
     line-height: 1.2em;
   }
  .scores__table {
  font-size: 15px;
  }
  .weather__desc, .weather__location {
    padding-left: 20px;
  }
.snippet__title a {
    font-size: 18px;
  }
  .snippet__thumbnail {
    width: 170px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 1em;
    padding-bottom: 1.5em;

  }
}
/*
 * Responsive for when viewport size is at least 1045px
 *
 */

 @media screen and (min-width: 1045px) {
   main, .header__inner, .nav, .content {
     width: 1045px;
     margin-left: auto;
     margin-right: auto;
   }
   .sp-column1 {
     width: 47%;
     float:left;
     order:3;
     padding-right: 2%;
     padding-left: 1%;
     height:100%;
     text-align: justify;
   }
   .sp-column2 {
     width:47%;
     float: right;
     order: 4;
     height: 100%;
     padding-left:2%;
     padding-right: 1%;
     text-align: justify;
   }
   .snippet__thumbnail {
     width: 150px
   }
 }




 body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
}

a {
  transition: .3s;
}

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}

.footer {
  position: relative;
  padding-top: 45px;
  /* background: #121518; */
  background: #A9907E;
}

.footer .newsletter {
  position: relative;
  max-width: 900px;
  margin: 0 auto 45px auto;
  padding: 30px 15px;
  /* background: #000000; */
  background: #A9907E;
  text-align: center;
}

.footer .newsletter h2 {
  color: #dddddd;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer .newsletter .form {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

.footer .newsletter input {
  height: 50px;
  border: 2px solid #cdcdcd;
  border-radius: 0;
}

.footer .newsletter .btn {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  /* color: #0085ff; */
  /* background: #121518; */
  background: #cdcdcd;
  color: #675D50;
  border-radius: 2px 2px;
  transition: .3s;
}

.footer .newsletter .btn:hover {
  color: #ffffff;
  background: #0085ff;
}

.footer .newsletter .btn:focus {
  box-shadow: none;
}

.footer .footer-about,
.footer .footer-link,
.footer .footer-contact {
  position: relative;
  margin-bottom: 45px;
  color: #dddddd;
}

.footer .footer-about h3,
.footer .footer-link h3,
.footer .footer-contact h3{
  position: relative;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  /* color: #0085ff; */
  color: #675D50;
}

.footer .footer-link a {
  display: block;
  margin-bottom: 10px;
  color: #dddddd;
  transition: .3s;
  text-transform: capitalize;
}

.footer .footer-link a::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .footer-link a:hover {
  color: #0085ff;
  letter-spacing: 1px;
}

.footer .footer-contact p i {
  width: 25px;
}

.footer .footer-social {
  position: relative;
  margin-top: 20px;
}

.footer .footer-social a {
  display: inline-block;
}

.footer .footer-social a i {
  margin-right: 15px;
  font-size: 18px;
  /* color: #0085ff; */
  color: #675D50;
}

.footer .footer-social a:last-child i {
  margin: 0;
}

.footer .footer-social a:hover i {
  color: #dddddd;
}

.footer .footer-menu .f-menu {
  position: relative;
  padding: 10px 0;
  font-size: 0;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu .f-menu a {
  color: #dddddd;
  font-size: 16px;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .footer-menu .f-menu a:hover {
  color: #0085ff;
}

.footer .footer-menu .f-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.footer .copyright {
  padding: 30px 15px;
}

.footer .copyright p {
  margin: 0;
  color: #dddddd;
}

.footer .copyright .col-md-6:last-child p {
  text-align: right;
}

.footer .copyright p a {
  color: #0085ff;
  font-weight: 500;
  letter-spacing: 1px;
}

.footer .copyright p a:hover {
  color: #ffffff;
}

@media (max-width: 768px) {
  .footer .copyright p,
  .footer .copyright .col-md-6:last-child p {
    margin: 5px 0;
    text-align: center;
  }
}
.button-22 {
  align-items: center;
  appearance: button;
  background-color: #0276FF;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue",sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.footer .newsletter .btn:active {
  background-color: #675D50;
}

.footer .newsletter .btn:hover {
  background-color: #675D50;
}


@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);

html {
  background: #f7f7f7;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

body {
  color: #666;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
}

a {
  text-decoration: none;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

div, h2, p, figure {
  margin: 0;
  padding: 0;
}

.header {
  color: white;
  padding: 40px 0 20px;
  text-align: center;
}

.header h1 {
  font-size: 40px;
  font-weight: bold;
}

.header h2 a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  font-size: 20px;
  opacity: 0.5;
}

.header h2 a:hover {
  border-bottom-color: white;
  opacity: 1;
}

.main {
  margin: 0 auto;
  max-width: 1040px;
  padding: 10px;
}

.column {
  flex: 1;
  flex-direction: column;
}

.article {
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #666;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-basis: auto;
  margin: 10px;
}

.article:hover,
.article:focus {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #444;
}

.article-image {
  background: #eee;
  display: block;
  padding-top: 75%;
  position: relative;
  width: 100%;
}

.article-image img {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.article-image.is-3by2 {
  padding-top: 66.6666%;
}
article-content
.article-image.is-16by9 {
  padding-top: 56.25%;
}

.article-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
}

.article-title {
  color: #333;
  flex-shrink: 0;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.2;
}

.article-content {
  flex: 1;
  margin-top: 5px;
}

.article-info {
  display: flex;
  font-size: 0.85em;
  justify-content: space-between;
  margin-top: 10px;
}

@media screen and (min-width: 800px) {
  .columns,
  .column {
    display: flex;
  }
}

@media screen and (min-width: 1000px) {
  .first-article {
    flex-direction: row;
  }

  .first-article .article-body {
    flex: 1;
  }

  .first-article .article-image {
    height: 300px;
    order: 2;
    padding-top: 0;
    width: 400px;
  }

  .main-column {
    flex: 3;
  }

  .nested-column {
    flex: 2;
  }
}
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {background-color: #0D1B2B; overflow-x: hidden; font-family: roboto; -webkit-font-smoothing: antialiased; margin: 0;}
.flex { display: -webkit-flex; display: flex; -webkit-flex-direction: row;  flex-direction: row; -webkit-justify-content: flex-start; justify-content: flex-start;}

/* .slider-wrapper div {position: relative;}
.slider-wrapper {margin-top: 5vw;  margin-left: 11vw;}
.slide-image {height: 24vw;}
.slide-image img {width: 24vw; cursor: pointer;}
.slide-content {width: 25vw; color: #fff; padding:3vw 18vw 3vw 9vw;}
.slide-date {color: #0a8acb; font-size: 1.1vw; font-weight: 400; letter-spacing: 0.1vw; padding-bottom: 1.4vw;}
.slide-title {font-size: 1.2vw; font-weight: 400; letter-spacing: 0.1vw; line-height: 1.55vw; padding-bottom: 1.8vw;}
.slide-text {font-size: 0.80vw; line-height: 1.2vw; opacity: 0.8; padding-bottom: 4vw;}
.slide-more {font-weight: 400; letter-spacing: 0.1vw; float: left; font-size: 0.9vw;}
.slide-bullet {width: 0.5vw; height: 0.5vw; background-color: #0b8bcc; border-radius: 200%; position: relative; margin-left: 1.2vw;}
.slide-nav {margin-left: 64vw; margin-top: -5.5vw;}

div.overlay-blue {width: 100%; height: 100%; position: absolute; top: 0; transition: 0.5s ease all;}
div.overlay-blue:hover {background-color: rgba(13, 27, 43, 0.5);}

.arrows{width: 3.5vw; margin-top: -5.8vw; margin-left: 72vw; position: relative;}
.arrow {display: inline-block; position: absolute; width: 1.2vw; height: 1.2vw; background: transparent; text-indent: -9999px; border-top: 0.15vw solid #fff; border-left: 0.15vw solid #fff; transition: all .1s ease-in-out; text-decoration: none; color: transparent;
}
.arrow:hover {border-color: #0A8ACB; border-width: 0.25vw;
}
.arrow:before {display: block; height: 200%; width: 200%; margin-left: -50%; margin-top: -50%; content: ""; transform: rotate(45deg);}
.arrow.prev {transform: rotate(-45deg); left: 0;}
.arrow.next {transform: rotate(135deg); right: 0;} */